:root {
    --coul-principale: white;
    --coul-secondaire: rgb(100, 237, 141);
    --coul-secondaire-pale: color-mix(in oklab, var(--coul-secondaire) 50%, var(--coul-principale) 50%);
    --coul-secondaire-fonce: color-mix(in oklab, var(--coul-secondaire) 60%, rgba(0, 0, 0, 0.5));
    --coul-accent: rgb(220, 220, 38);
    --coul-noir: #17161a;
    --coul-blanc: #eae8fe;

    --coul-info: #2196f3;
    --coul-succes: #4caf50;
    --coul-avertissement: #ff9800;
    --coul-danger: #f44336;
    --coul-muted: #6c757d;

    --coul-bouton-fond: var(--coul-principale);
}
